html { height: 100% }

head, body {
    margin: 0;
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    display: grid;
    place-items: center;
}

main {
    max-width: 90ch;
    height: 100%;
    padding: 1rem;
    box-sizing: border-box;
}

main.center {
    display: grid;
    place-items: center;
}

h1 {
    margin: 0;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}

textarea {
    box-sizing: border-box;
    resize: vertical;
}

.code {
    overflow: auto;
    max-height: 20lh;
}

.output {
    overflow-wrap: anywhere;
    white-space: pre-wrap;
    width: 100%;
}

form.large * {
    font-size: 1.5rem;
}

form.large input[type="text"] {
    width: 50ch;
}

.code pre {
    margin: 0;
}
